*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    transition:  0.5s;
}

img{
    display: block;
    align-self: center;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: var(--medium-gray);
}

nav ul.navbar{
    display: flex;
    list-style: none;
    align-items: flex-start;
    gap: 2rem;
}

nav li{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.5rem;
}

#logo{
    padding: 0 1rem;
}

/* Styling Dropdowns */
.dropdown{
    position: relative;
}

#arw_d_1{
    transition: 0.3s ease-in-out;
}

#arw_d_2{
    transition: 0.3s ease-in-out;
}

.header:hover #arw_d_1{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.header:hover #arw_d_2{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.header{
    display: flex;
    gap: 0.5rem;
}

#drop_1{
    display: none;
}

#drop_2{
    display: none;
}

#dropdown_1:hover #drop_1{
    display: block;
}

#dropdown_2:hover #drop_2{
    display: block;
}

.features_tab{
    position: absolute;
    right: 0;
    padding-top: 1rem;
}

.company_tab{
    position: absolute;
    left: 0;
    padding-top: 1rem;
}

.tabs{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.8rem;
    width: max-content;
    background: var(--white);
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 12%);
    border-radius: 10px;
}

.tabs .tab{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0.5rem;
}

.tab{
    color: var(--medium-gray)
}

/* Styling Hover States */
nav ul li:hover{
    color: var(--almost-black);
}

/* Styling Nav Button */
.btn, .btn.nav-btn{
    border: 2px solid var(--medium-gray);
    padding: 0.6rem 1rem;
    margin-top: -0.6rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn, .btn.nav-btn:hover{
    border-color: var(--almost-black);
}

/* Styling Main Section */
.main-section{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.main-section .section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    max-width: 80vw;
    max-height: 100%;
}

.main-section .img{
    margin-top: -2.5rem;
    background-image: url(./images/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 400px;
    height: 540px;
}

.section .text{
    width: 44%;
    margin-top: 6rem;
}

.section .text h1{
    font-size: 4.5rem;
    font-weight: 700;
}

.section .text p{
    margin: 3rem 0;
    line-height: 1.5;
    color: var(--medium-gray)
}

.sponsors{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

/* Styling Buttons */
.btn-primary{
    padding: 0.8rem 1.8rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--almost-white);
    background: var(--almost-black);
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover{
    background: none;
    color: var(--almost-black);
}

/* Styling Sidebar Menu */
.sidebar-menu{
    display: none;
    align-self: flex-start;
    cursor: pointer;
}

/* Styling for mobile version */
@media screen and (max-width: 376px) {
    nav ul > .sidetab{
        display: none;
    }

    #logo{
        padding: 0rem;
    }

    .sideNavItems .navbar > .sidetab{
        display: flex;
    }
    
    .sideNavItems .navbar{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sidebar-menu{
        display: flex;
    }

    .sideNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: var(--almost-white);
        overflow-x: hidden;
        padding-top: 15px;
        transition: 0.3s;
    }

    .sideNav a{
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 0.9rem;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sideNav a:hover{
        color: var(--almost-black);
    }

    .sideNav .sidenavbar{
        display: flex;
        text-align: center;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;  
    }

    .sidenavbar .btn{
        padding: 0.1rem 0 0.1rem 0;
        width: 90%;
    }

    .sideNavItems{
        padding-left: 1rem;
    }

    .closebtn{
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 70%;
    }

    .features_tab, .company_tab{
        position: relative;
    }

    .tabs{
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1.5rem;
        gap: 1rem;
        width: max-content;
        background: none;
        box-shadow: none;
        border-radius: 0;
    }

    .main-section{
        display: grid;
        grid-template-columns: repeat(1fr);
        justify-content: center;
        align-items: center; 
        height: fit-content;
        width: 100vw;
    }
    
    .main-section .section{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        max-width: 100vw;
    }

    .main-section .img{
        background-image: url(./images/image-hero-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        height: 282px;
        order: 1;
    }
    
    .section .text{
        text-align: center;
        min-width: 90%;
        padding: 0;
        order: 2;
        margin-top: 2rem;
    }
    
    .section .text h1{
        font-size: 2.1rem;
        font-weight: 00;
    }
    
    .section .text p{
        font-size: 1rem;
        margin: 1rem 0;
        line-height: 1.5;
        color: var(--medium-gray);
    }
    
    .sponsors{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .sponsors img{
        display: block;
        max-width: 60px;
    }

    .btn-primary{
        margin: 0.5rem 0 3rem 0;
        padding: 0.8rem 1.8rem;
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--almost-white);
        background: var(--almost-black);
        transition: all 0.2s ease-in-out;
    }

}